@model BDA.DataModel.osida_master
@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
    var maxItems = db.GetSetting("LimitFilterLJK");
    var maxExport = db.GetSetting("LimitExportExcelPDF");
    bool isExport = ViewBag.Export;
    bool isHive = ViewBag.Hive;
    //var p = ViewBag.period;
    //var j = ViewBag.jljk;
    //var l = ViewBag.ljk;

    var p = (string[])ViewBag.period;
    var j = (string[])ViewBag.jljk;
    var l = (string[])ViewBag.ljk;
    string sd = TempData.Peek("SD").ToString();
    string sg = TempData.Peek("SG").ToString();
    string pm = TempData.Peek("PM").ToString();
    string lbl1 = "Waktu Proses : "  + sd + " detik \nWaktu tunggu Hive/SQL : " + sg + " detik \nPenggunaan Memory Webserver : " + pm + " KB ";
}

@inject BDA.DataModel.DataEntities db



<script>
    window.jsPDF = window.jspdf.jsPDF;
    applyPlugin(window.jsPDF);
</script>

<script type="text/javascript">
    function ExportToCSV() {
        var grid = $("#grid1").dxDataGrid("instance");
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExportIndex", "OSIDA2023", new {reportId = Model.kode})",
            success: function (response) {
                if (response.result == "Success") {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Main sheet');

                    DevExpress.excelExporter.exportDataGrid({
                        component: $("#grid1").dxDataGrid("instance"),
                        worksheet: worksheet,
                        autoFilterEnabled: true
                    }).then(function () {
                        workbook.csv.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: "application/octet-stream" }), "OSIDA_@(Model.kode)_" + new Date().toISOString().slice(0, 10) + ".csv");
                        });
                    });
                    grid.cancel = true;
                }
            }
        });
    }
    function ExportToExcel() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExportIndex", "OSIDA2023", new {reportId = Model.kode})",
            success: function (response) {
                if (response.result == "Success") {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Main sheet');

                    DevExpress.excelExporter.exportDataGrid({
                        component: $("#grid1").dxDataGrid("instance"),
                        worksheet: worksheet,
                        customizeCell: function (options) {
                            var { gridCell, excelCell } = options;

                            if (gridCell.rowType === 'data') {
                                if (options.gridCell.column.dataType === 'number') {
                                    excelCell.numFmt = '#,##0.00';
                                }
                            }
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: "application/octet-stream" }), "OSIDA_@(Model.kode)_" + new Date().toISOString().slice(0, 10) + ".xlsx");
                        });
                    });
                }
            }
        });
    }
    function CFE(filterValue, selectedFilterOperation) {
        if (selectedFilterOperation === "=") {
            var filterExpression = [
                [this.dataField, ">=", filterValue - 0.5],
                "and", [this.dataField, "<=", filterValue + 0.5]
            ];
            return filterExpression;
        }
        return [this.dataField, selectedFilterOperation || '=', filterValue];
    }

    function ExportToPdf2() {
        var dataGrid = $("#grid1").dxDataGrid("instance");
        dataGrid.option("onExporting", function (e) { });
        dataGrid.option("onFileSaving", function (e) {
            var fd = new FormData();
            fd.append("file", e.data);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportPDF", "OSIDA2023", new {reportId = Model.kode})",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (data) {
                window.location = "@Url.Action("File", "OSIDA2023", new {reportId = Model.kode})"
            });
            e.cancel = true;
        });

        dataGrid.exportToExcel();
    }
    function ExportToPdf() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExportIndex", "OSIDA2023", new {reportId = Model.kode})",
            success: function (response) {
                if (response.result == "Success") {
                    const doc = new jsPDF({
                        orientation: "landscape",
                        unit: "cm",
                        format: [21, 60]
                    });
                    var dataGrid = $("#grid1").dxDataGrid("instance");
                    var fileName = "OSIDA_@(Model.kode)_" + new Date().toISOString().slice(0, 10) + ".pdf";
                    doc.setFontSize("6")
                    //var img = new Image();
                    //img.src = "/assets_m/img/OJK_Logo.png";
                    //doc.addImage(img, 'PNG', 15, 40, 180, 160);
                    //var keys = $("#grid1").dxDataGrid("getSelectedRowsData")
                    //console.log(keys)
                    DevExpress.pdfExporter.exportDataGrid({
                        jsPDFDocument: doc,
                        component: dataGrid,
                        keepColumnWidths: true,
                        customizeCell: function (options) {
                            var { gridCell, excelCell } = options;

                            if (gridCell.rowType === 'data') {
                                if (options.gridCell.column.dataType === 'number') {
                                    excelCell.numFmt = '#,##0.00';
                                }
                            }
                        }
                        //selectedRowsOnly: true
                    }).then(function () {
                        doc.save(fileName);
                    });
                }
            }
        });
    }
    function Antrian() {
        $("#grid1").dxDataGrid("instance").refresh().then(function () {
            $.ajax({
			type: "POST",
			url: "@Url.Action("Antrian", "OSIDA2023", new { reportId = Model.kode })",
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                swal({ type: 'success', title: 'Success', text: response });
            },
            error: function (response) {
                swal({ type: 'error', title: 'Failed', text: response });
            }
		    });
        });
    }
    function Antrian2() {
        $("#grid1").dxDataGrid("instance").refresh().then(function () {
            $.ajax({
			type: "POST",
			url: "@Url.Action("AntrianDetail2", "OSIDA2023", new { reportId = Model.kode })",
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                swal({ type: 'success', title: 'Success', text: response });
            },
            error: function (response) {
                swal({ type: 'error', title: 'Failed', text: response });
            }
		    });
        });
    }
    var resetLJK;

    $(function () {
        $("#Periode").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Periode] harus dipilih" }]
        })
        chkRpt();
    });
    function chkRpt() {
        let rpt='@Model.kode';
        $("#divWaktu").hide();
        if (rpt == 'osida_kredit_no_agunan') {
            $("#divWaktu").show();
        }
    }
    function onSelectionChanged(e) {
        if (e.addedItems.length > 0) {
            e.component.field().val("");
        }
    }

    function onJenisLJKChanged(e) {
        resetLJK = true;
        $("#Members").dxTagBox("instance").getDataSource().reload();
        $("#Members").dxTagBox("reset");
        resetLJK = false;
    }

    function onButtonFilterClicked(e) {
        const res = e.validationGroup.validate();
        if (res.status === "valid") {
            $("#grid1").dxDataGrid("instance").refresh();
            $.ajax({
                type: "POST",
			    url: "@Url.Action("getTime", "OSIDA2023")",
			    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $("#txtTest").dxTextArea("instance").option("value",response);
                }
		    });
        }
    }

    function onGridBeforeSend(method, ajaxOptions) {
        let memberTypes = $("#MemberTypes").dxTagBox("instance").option("value");
        let members = $("#Members").dxTagBox("instance").option("value");
        //let kantorCabangs = $("#KantorCabangs").dxTagBox("instance").option("value");
        let periode = $("#Periode").dxTagBox("instance").option("value");
        let chk = $("#chk100").dxCheckBox("instance").option("value");
        ajaxOptions.data.memberTypes = JSON.stringify(memberTypes);
        ajaxOptions.data.members = JSON.stringify(members);
        ajaxOptions.data.kantorCabangs = null;
        ajaxOptions.data.periode = JSON.stringify(periode);
        ajaxOptions.data.reportId = '@Model.kode';
        ajaxOptions.data.chk100 = chk;
    }

    function onLJKOpened(e) {
        e.component.content().find('.dx-list-select-all').hide();
    }

    const maxItems = @maxItems;

    function onLJKChanged(e) {
        if (e.value.length > maxItems) {
            const newValue = e.value.slice(0, maxItems);
            e.component.option("value", newValue);
            //tooltip.show();
        }

        //resetKC = true;
        //$("#KantorCabangs").dxTagBox("instance").getDataSource().reload();
        //$("#KantorCabangs").dxTagBox("reset");
        //resetKC = false;
    }

    //function onKCChanged(e) {
    //    if (e.value.length > maxItems) {
    //        const newValue = e.value.slice(0, maxItems);
    //        e.component.option("value", newValue);
    //        //tooltip.show();
    //    }
    //}
    //function onContentReady(e) {
    //    if (e.component.totalCount() == 0) {
    //        $("#divSkenario").show();
    //        $("#divOutputEmpty").show();
    //        $("#divOutput").hide();
    //        $("#divTindakLanjut").hide();

    //    } else {
    //        $("#divSkenario").show();
    //        $("#divOutputEmpty").hide();
    //        $("#divOutput").show();
    //        $("#divTindakLanjut").show();
    //    }

    //}
    function Detail(e) {
        var keys = $("#grid1").dxDataGrid("getSelectedRowKeys");
        if (keys.length >= 1) {
            window.open("@Url.Action("OsidaDetail2", "OSIDA2023")/"+ keys[0].toString());
        } else {
            swal({ type: 'error', title: 'Oops...', text: 'Silahkan Pilih Baris Telebih Dahulu' });
        }
    }
    function DetailOpen(id) {
        window.open("@Url.Action("OsidaDetail2", "OSIDA2023")/"+ id);
    }
    function onOpened(e) {
        $('.dx-list-select-all').hide()
    }

</script>

<style type="text/css">
    .mandatory {
        color: red;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-default">
        @*filter*@
        <div class="row filter-panel" style="padding-top:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label>Periode<span class="mandatory">*</span></label>
                        @(Html.DevExtreme().TagBox()
                            .ID("Periode")
                            .DataSource(d => d.Mvc()
                                .Controller("Ref")
                                .Area("BDA2")
                                .LoadAction("GetPeriode")
                                .Key("value"))
                            .ValueExpr("value")
                            .DisplayExpr("text")
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .ShowClearButton(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%")
                            .Value(p)
                            )
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Jenis LJK</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("MemberTypes")
                            .DataSource(d => d.Mvc()
                                .Controller("Ref")
                                .Area("BDA2")
                                .LoadAction("GetMemberTypes")
                                .Key("kode_jenis_ljk"))
                            //.DataSourceOptions(d => d.Paginate(true).PageSize(10))
                            .ValueExpr("kode_jenis_ljk")
                            .DisplayExpr("Display")
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .ShowClearButton(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .OnValueChanged("onJenisLJKChanged")
                            .Value(j)
                            .Width("100%"))
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Kode LJK</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("Members")
                            .DataSource(d => d.Mvc()
                                .Controller("Ref")
                                .Area("BDA2")
                                .LoadAction("GetMembers")
                                .LoadParams(new { memberTypes = new JS("function() { return $(\"#MemberTypes\").dxTagBox(\"instance\").option(\"value\"); }"), reset = new JS("function() { return resetLJK; }") })
                                //.Key("kode_ljk")
                                .Key("CompositeKey")
                            )
                            .DataSourceOptions(d => d.Paginate(true).PageSize(10))
                            //.ValueExpr("kode_ljk")
                            .ValueExpr("CompositeKey")
                            .DisplayExpr("Display")
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .ShowClearButton(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .OnOpened("onLJKOpened")
                            .OnValueChanged("onLJKChanged")
                            .Value(l)
                            .Width("100%"))
                    </div>
                    
                    <div class="col-lg-12" id="divSkenario" style="display:block">
                        <div style="font-weight:bold">SKENARIO PENGUJIAN</div>
                        <div>@Html.Raw(Model.skenario)</div>
                    </div>
                    <div class="col-lg-12" id="divOutput" style="display:block">
                        <div style="font-weight:bold">KETERANGAN OUTPUT</div>
                        <div>@Html.Raw(Model.output)</div>
                    </div>
                    <div class="col-lg-12" id="divOutputEmpty" style="display:none">
                        <div style="font-weight:bold">KETERANGAN OUTPUT</div>
                        <div>@Html.Raw(Model.output_empty)</div>
                    </div>
                    <div class="col-lg-12" id="divTindakLanjut" style="display:block">
                        <div style="font-weight:bold">KETERANGAN USULAN TINDAK LANJUT</div>
                        <div>@Html.Raw(Model.tindaklanjut)</div>
                    </div>
                </div>

                <div class="float-left">
                    @(Html.DevExtreme().Button()
                        .ID("Filter")
                        .Type(ButtonType.Default)
                        .Text("Tampilkan")
                        .OnClick("onButtonFilterClicked")
                        .ValidationGroup("Filter"))
                    @(Html.DevExtreme().CheckBox().ID("chk100").Text("Top 100?"))
                </div>

                <div class="float-right">
                    @*<a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:Detail();"><span class="image fa fa-desktop"></span> Detail</a>*@
                    @if (ViewBag.Export)
                    {
                        <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:Antrian2();"><span class="image fa fa-file-invoice"></span> Antrian Detail (CSV)</a>
                        <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:Antrian();"><span class="image fa fa-file-invoice"></span> Antrian (CSV)</a>
                        <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();"><span class="image fa fa-file-excel" title="Export Excel maksimal @maxExport data"></span> Export Excel</a>
                        <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();"><span class="image fa fa-file-pdf" title="Export PDF maksimal @maxExport data"></span> Export PDF</a>
                        <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:ExportToCSV();"><span class="image fa fa-file-archive"></span> Export CSV</a>
                    }
                </div>
            </div>
        </div>

        @*grid*@
        <div class="gridview-div">
            @(Html.DevExtreme().DataGrid()
                .ID("grid1")
                .DataSource(d => d.Mvc()
                    .Controller("OSIDA2023")
                    .LoadAction("GetGridData")
                    .Key("lem")
                    .OnBeforeSend("onGridBeforeSend"))
                .RemoteOperations(true)
                .Width("100%")
                .AllowColumnResizing(true)
                //.ColumnChooser(c => c.Enabled(true))
                .ColumnFixing(c => c.Enabled(true))
                .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always))
                .FilterRow(f => f.Visible(true))
                //.OnContentReady("onContentReady")
                .ShowBorders(false)
                .Columns(columns =>
                {
                    columns.Add().DataField("dm_periode").Caption("Periode").Width(250).DataType(GridColumnDataType.String).Format("");
                    columns.Add().DataField("dm_jenis_ljk").Caption("Jenis LJK").Width(250);
                    columns.Add().DataField("dm_kode_ljk").Caption("Kode LJK").Width(250);
                    columns.Add().DataField("dm_nama_ljk").Caption("Nama LJK").Width(550);
                    columns.Add().DataField("dm_cif").Caption("Nomor CIF").Width(250).CellTemplate(@<text>
                          <a rel="noopener noreferrer" target="_blank" href="#" onclick="DetailOpen('<%=data.idcif %>');" ><%=data.dm_cif %></a>
                    </text>);
                    columns.Add().DataField("dm_nama_nasabah").Caption("Nama Nasabah").Width(250);
                    columns.Add().Caption("Nasabah").Columns(c1 =>
                    {
                        c1.Add().Caption("Kualitas").DataField("dm_kualitas").Width(250);
                        c1.Add().Caption("Total Plafon").DataField("dm_total_plafon").Width(250).DataType(GridColumnDataType.Number).Format(",##0");
                        c1.Add().Caption("Total Baki Debet").DataField("dm_total_baki_debet").Width(250).DataType(GridColumnDataType.Number).Format(",##0");
                    });
                    
                    columns.Add().DataField("dm_nama_pengurus_pemilik").Caption("Nama Pengurus/Pemilik").Width(250).CellTemplate(@<text>
                        <a rel="noopener noreferrer" target="_blank" href="#" onclick="DetailOpen('<%=data.idpeng %>');"><%=data.dm_nama_pengurus_pemilik %></a>
                    </text>);
                    columns.Add().DataField("dm_id_pengurus_pemilik").Caption("Nomor ID Pengurus/Pemilik").Width(250);
                    columns.Add().Caption("Pengurus/Pemilik").Columns(c1 =>
                    {
                        c1.Add().Caption("Jabatan").DataField("dm_jabatan").Width(250);
                        c1.Add().Caption("Pangsa Kepemilikan").DataField("dm_pangsa_pemilik").Width(250).DataType(GridColumnDataType.Number).Format(",##0");
                        c1.Add().Caption("Total Baki Debet Bermasalah").DataField("dm_total_baki_debet_bermasalah").Width(250).DataType(GridColumnDataType.Number).Format(",##0");
                        c1.Add().Caption("Total Tunggakan Bunga Bermasalah").DataField("dm_total_tunggakan_bunga").Width(250).DataType(GridColumnDataType.Number).Format(",##0");
                    });
                })
                //.Export(e=>e.Enabled(true))
                //.Selection(c => c.Mode(SelectionMode.Single))
                .Paging(p =>
                {
                    p.PageSize(15);
                    p.Enabled(true);

                })
                .Pager(p =>
                {
                    p.Visible(true);
                    p.ShowInfo(true);
                })
                )
            <div id="divWaktu" class="float-left">
                @(Html.DevExtreme().TextArea().Height("70px").ReadOnly(true).ID("txtTest").Value(lbl1).Width("320px"))
            </div>
        </div>
    </div>
}