@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    function Edit() {
        var keys = $("#grid1").dxTreeList("getSelectedRowKeys");
        if (keys.length >= 1) {
            window.location = "@Url.Action("Edit","Master_Satker")/" + keys[0].toString();
        } else {
            alert('Silahkan Pilih Baris Telebih Dahulu');
        }
    }
    function Delete() {
        var keys = $("#grid1").dxTreeList("getSelectedRowKeys");
        if (keys.length >= 1) {
            var ask = confirm('Apakah Anda yakin akan menghapus data ini ?');
            if (ask) {
                $.ajax({
					type: "POST",
					url: "@Url.Action("Delete","Master_Satker")?handler=Delete",
					contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json",
                    data: "param1=" + keys[0].toString(),
                    success: function (response) {
                        alert(response);
                        $("#grid1").dxTreelist("refresh");
                    },
                    error: function (response) {
                        alert(response.responseJSON.error);
                    }
				});
            }
        } else {
            alert('Silahkan Pilih Baris Telebih Dahulu');
        }
    }
</script>


<div class="card card-default">
    <div class="card-header">
        <script>document.write(pageTitle);</script>
        <div class="pull-right">
            @if (ViewBag.Admin == true)
            {
                <nav class="dxbs-menu clearfix" style="display: block" ;>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Master_Satker")"><span class="image fa fa-plus"></span> Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Edit();"><span class="image fa fa-edit"></span> Edit</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Delete();"><span class="image fa fa-times"></span> Delete</a></li>
                    </ul>
                </nav>
            }

            @if (ViewBag.Admin == false)
            {
                <nav class="dxbs-menu clearfix" style="display: none" ;>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Master_Satker")"><span class="image fa fa-plus"></span> Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Edit();"><span class="image fa fa-edit"></span> Edit</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Delete();"><span class="image fa fa-times"></span> Delete</a></li>
                    </ul>
                </nav>
            }
        </div>
    </div>
    <div class="gridview-div">
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().TreeList()
            .ID("grid1")
            .DataSource(d => d.Mvc()
                .Controller("Master_Satker")
                .LoadAction("GetGridData")
                //.InsertAction("InsertObject")
                //.UpdateAction("UpdateObject")
                //.DeleteAction("DeleteObject")
                .Key("SatkerId")
            )
            .KeyExpr("SatkerId")
            .ParentIdExpr("SatkerParentId")
            .Width("100%")
            .Columns(columns =>
            {
                columns.Add().DataField("SatkerKode").Width("100px").Caption("Kode");
                columns.Add().DataField("SatkerTipe").Width("200px").Caption("Nama");
                columns.Add().DataField("SatkerId").Visible(false);

            })
            .FilterRow(f => f.Visible(true))
            .ShowBorders(false)
            .Selection(c => c.Mode(SelectionMode.Single))
            .RowAlternationEnabled(false)
            .Paging(p =>
                    {
                p.PageSize(20);
                p.Enabled(true);
                }
            )
        )

    </div>
</div>
