@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>*@

<script>
    window.jsPDF = window.jspdf.jsPDF;
    applyPlugin(window.jsPDF);
</script>

<script type="text/javascript">

    function syncTreeViewSelection(treeView, value) {
        if (!value) {
            treeView.unselectAll();
        } else {
            treeView.selectItem(value);
        }
    }

    function treeBox_valueChanged(e) {
        var $treeView = e.component.content().find(".dx-treeview");
        if ($treeView.length) {
            syncTreeViewSelection($treeView.dxTreeView("instance"), e.value);
        }
    }

    function exportToPDF() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExport", "MasterLog")",
            success: function (response) {
                if (response.result == "Success") {
                    const doc = new jsPDF({
                        orientation: "landscape",
                        unit: "cm",
                        format: [21, 60]
                    });
                    var dataGrid = $("#grid1").dxDataGrid("instance");
                    var fileName = "Master_Log_" + new Date().toISOString().slice(0, 10) + ".pdf";
                    doc.setFontSize("6")
                    //var keys = $("#grid1").dxDataGrid("getSelectedRowsData")
                    //console.log(keys)
                    DevExpress.pdfExporter.exportDataGrid({
                        jsPDFDocument: doc,
                        component: dataGrid,
                        keepColumnWidths: true
                        //selectedRowsOnly: true
                    }).then(function () {
                        doc.save(fileName);
                    });
                }
            }
        });
    }

    function exportToEx() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExport", "MasterLog")",
            success: function (response) {
                if (response.result == "Success") {
                    var dataGrid = $("#grid1").dxDataGrid("instance");
                    var fileName = "Master_Log_" + new Date().toISOString().slice(0, 10) + ".xlsx";

                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Main Sheet');

                    DevExpress.excelExporter.exportDataGrid({
                        component: dataGrid,
                        worksheet: worksheet,
                        autoFilterEnabled: true
                        //selectedRowsOnly: true
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), fileName);
                        });
                    });
                    dataGrid.cancel = true;
                }
            }
        });

    }
    
    function redirDetail(e) {
        var kode = e.row.data.log_kode;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetGridDataDetails", "MasterLog")",
            data: {paramID: kode},
            dataType: "json",
            type: "POST",
        }).done(function (resp) {
            $("#popup").dxPopup({
                visible: true,
                title: "Detil",
                showCloseButton: true,
                height: 400,
                contentTemplate: function (contentElement) {
                    const detailGrid = $("<div>").appendTo(contentElement);
                    detailGrid.dxDataGrid({
                        dataSource: resp.data,
                        columns: [
                            { dataField: "log_kode", caption: "Kode Job" },
                            { dataField: "log_seq", caption: "Urutan Proses" },
                            { dataField: "log_job", caption: "Nama Job" },
                            { dataField: "log_table_src", caption: "Nama Tabel Sumber" },
                            { dataField: "log_table_dst", caption: "Nama Tabel Target" },
                            { dataField: "log_script", caption: "Lokasi Script" },
                        ],
                        showBorders: true
                    });
                }
            });
        });
    }

    function redirDelete() {}

</script>


<div class="card card-default">
    <div class="row filter-panel" style="padding-top:0px;">
        <div class="card-body">
            
            <div class="float-right">
                @if (ViewBag.Export)
                {
                    <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:exportToPDF();"><span class="image fa fa-download"></span> Download Template</a>
                    <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:exportToEx();"><span class="image fa fa-upload"></span> Upload</a>
                }
            </div>
        </div>
    </div>

    <div class="gridview-div">

        @Html.AntiForgeryToken()

        @(Html.DevExtreme().DataGrid()
            .ID("grid1")
            .DataSource(d => d.Mvc()
            .Controller("MasterLog")
            .LoadAction("GetGridData")
            //.OnBeforeSend("gridOnBeforeSend")
            .Key("log_kode")
            )
            .RemoteOperations(true)
            .Export(e => e.AllowExportSelectedData(true).Texts(q => q.ExportTo("Ekspor")))
            .Width("100%")
            .Columns(columns =>
            {
                columns.Add().DataField("log_no").Caption("No").Width("10%");
                columns.Add().DataField("log_kode").Caption("Kode Job").Width("20%");
                columns.Add().DataField("log_nama").Caption("Nama Sequence").Width("20%");
                columns.Add().DataField("log_waktu").Caption("Waktu Scheduler").Width("10%");
                columns.Add().Type(GridCommandColumnType.Buttons).Caption("Aksi").Buttons(b =>
                            {
                                b.Add().Hint("Detail")
                                    .Icon("activefolder")
                                    .OnClick("redirDetail");

                                b.Add().Hint("Delete")
                                    .Icon("trash")
                                    .OnClick("redirDelete");
                            });
            })
            .FilterRow(f => f.Visible(true))
            //.AllowColumnResizing(true)
            .WordWrapEnabled(true)
            .ShowBorders(false)
            //.Selection(c => c.Mode(SelectionMode.Multiple))
            .RowAlternationEnabled(false)
            .Paging(p =>
            {
                p.PageSize(20);
                p.Enabled(true);
            }
            )
            .Pager(p =>
            {
                p.ShowInfo(true);
            }
            )
            )

    </div>
    <div id="popup"></div>
</div>

<style type="text/css">
    .mandatory {
        background-color: red !important;
    }

    .dx-datagrid-headers {
        background-color: #a01905;
        color: #ffffff;
    }
</style>


