@model Tuple<string,int,int,int>
@{
    var which = Model.Item1;
    var current = Model.Item2;
    var total = Model.Item3;
    int window = 3;
    int start = System.Math.Max(1, current - window);
    int end = System.Math.Min(total, current + window);
}
<nav aria-label="@which pagination">
    <ul class="pagination justify-content-end mb-1 gl-pagination" data-which="@which">
        @if (current > 1)
        {
            <li class="page-item">
                <a class="page-link gl-page-link" href="javascript:void(0)" data-which="@which" data-page="1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link gl-page-link" href="javascript:void(0)" data-which="@which" data-page="@(current - 1)">&lsaquo;</a>
            </li>
        }
        @for (int p = start; p <= end; p++)
        {
            if (p == current)
            {
                <li class="page-item active"><span class="page-link">@p</span></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link gl-page-link" href="javascript:void(0)" data-which="@which" data-page="@p">@p</a>
                </li>
            }
        }
        @if (current < total)
        {
            <li class="page-item">
                <a class="page-link gl-page-link" href="javascript:void(0)" data-which="@which" data-page="@(current + 1)">&rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link gl-page-link" href="javascript:void(0)" data-which="@which" data-page="@total">&raquo;</a>
            </li>
        }
    </ul>
</nav>