@using DevExtreme.AspNet.Mvc
@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
}

@inject BDA.DataModel.DataEntities db

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-default">
        @*filter*@
        <div class="row filter-panel" style="padding-top:0px;">
            <div class="card-body">
                <h1>Assessment Pasar Equity</h1>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Jenis Periode@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("Periodid")
                            .DataSource(new[] { "Daily", "Monthly", "Custom Date" })
                            .Width("100%")
                            .OnValueChanged("onPeriodChanged"))
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 form-group" id="datepickday">
                        <label>Periode@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().DateBox()
                            .ID("DatepickdID")
                            .Type(DateBoxType.Date)
                            .DisplayFormat("dd/MM/yyyy")
                            .Width("100%"))
                    </div>
                    <div class="col-lg-3 form-group" id="datepickmonth">
                        <label>Periode@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().DateBox()
                            .ID("DatepickmID")
                            .Type(DateBoxType.Date)
                            .DisplayFormat("monthAndYear")
                            .CalendarOptions(c => c
                            .MaxZoomLevel(CalendarZoomLevel.Year)
                            .MinZoomLevel(CalendarZoomLevel.Century))
                            .Width("100%"))
                    </div>
                    <div class="col-lg-3 form-group" id="starttime">
                        <label>Start Time@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("StartTime")
                            .DataSource(Enumerable.Range(9, 9).Select(h => new { Value = h.ToString("D2") + ":00", Text = h.ToString("D2") + ":00" }))
                            .ValueExpr("Value")
                            .DisplayExpr("Text")
                            .SearchEnabled(true)
                            .Width("100%"))

                    </div>
                    <div class="col-lg-3 form-group" id="endtime">
                        <label>End Time@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("EndTime")
                            .DataSource(Enumerable.Range(9, 9).Select(h => new { Value = h.ToString("D2") + ":00", Text = h.ToString("D2") + ":00" }))
                            .ValueExpr("Value")
                            .DisplayExpr("Text")
                            .SearchEnabled(true)
                            .Width("100%"))

                    </div>
                    <div class="col-lg-3 form-group" id="startdate">
                        <label>Start Date@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().DateBox()
                            .ID("StartDateID")
                            .Type(DateBoxType.Date)
                            .DisplayFormat("dd/MM/yyyy")
                            .Width("100%"))
                    </div>
                    <div class="col-lg-3 form-group" id="enddate">
                        <label>End Date@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().DateBox()
                            .ID("EndDateID")
                            .Type(DateBoxType.Date)
                            .DisplayFormat("dd/MM/yyyy")
                            .Width("100%"))
                    </div>
                    
                    <div class="col-lg-3 form-group">
                        <label>Lokal/Asing@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("LokalAsingid")
                            .DataSource(new[] { "Lokal", "Asing" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>

                    <div class="col-lg-3 form-group">
                        <label>Buy/Sell@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("Buysellid")
                            .DataSource(new[] { "Buy", "Sell" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>

                    <div class="col-lg-3 form-group">
                        <label>Board@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("Boardid")
                            .DataSource(new[] { "Tahap I", "Tahap II - Hybrid", "Tahap II - Full Call" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>

                    <div class="col-lg-3 form-group">
                        <label>Domestik/Foreign@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("DomestikForeignid")
                            .DataSource(new[] { "Domestik", "Foreign" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>
                   
                    <div class="col-lg-3 form-group">
                        <label>Market@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("Marketid")
                            .DataSource(new[] { "Primary", "Secondary" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>
                    
                    <div class="col-lg-3 form-group">
                        <label>Value/Volume/Market@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("VVMid")
                            .DataSource(new[] { "Value", "Volume","Market" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>

                    <div class="col-lg-3 form-group">
                        <label>Swap APE@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("SwapAPEid")
                            .DataSource(new[] { "Value", "Volume", "Market" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Summarize/Netting@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().TagBox()
                            .ID("SummarizeNettingid")
                            .DataSource(new[] { "Summarize", "Netting" })
                            .ShowSelectionControls(true)
                            .MaxDisplayedTags(3)
                            .SearchEnabled(true)
                            .OnSelectionChanged("onSelectionChanged")
                            .Width("100%"))
                    </div>
                    <div class="col-lg-3 form-group" id="topDiv">
                        <label>Top@*<span class="mandatory">*</span>*@</label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("ItemsPerPageSelectBox")
                            .DataSource(new[] { "10", "25", "50", "100", "150", "200", "All" })
                            .ValueExpr("this")
                            .DisplayExpr("this")
                            .SearchEnabled(true)
                            .Width("100%"))
                    </div>

                </div>
                <div class="float-left">
                    @(Html.DevExtreme().Button()
                        .ID("Filter")
                        .Type(ButtonType.Default)
                        .Text("Tampilkan")
                        .OnClick("onButtonFilterClicked")
                        .ValidationGroup("Filter"))
                </div>

                @*                 <div class="float-right">
            @if (ViewBag.Export)
            {
            <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();"><span class="image fa fa-file-excel"></span> Export Excel</a>
            <a class="btn btn-light-primary font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();"><span class="image fa fa-file-pdf"></span> Export PDF</a>
            }
            </div> *@
            </div>
        </div>
        <div class="row filter-panel" style="padding-top:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 form-group" style="padding-right:10px;padding-left:10px;border: 1px solid black">
                        <div class="row">
                            <h4 class="headerTable">IHSG</h4>
                        </div>
                        <div vlass="row">
                            <h4 class="textdashboard">6.065,68</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group" style="padding-right:10px;padding-left:10px;border: 1px solid black">
                        <div class="row">
                            <h4 class="headerTable">Market Cap</h4>
                        </div>
                        <div vlass="row">
                            <h4 class="textdashboard">7.077.052.903.751.570,00</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group" style="padding-right:10px;padding-left:10px;border: 1px solid black">
                        <div class="row">
                            <h4 class="headerTable">Net Buy Value</h4>
                        </div>
                        <div vlass="row">
                            <h4 class="textdashboard">-698.353.605.685,00</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group" style="padding-right:10px;padding-left:10px;border: 1px solid black">
                        <div class="row">
                            <h4 class="headerTable">Net Buy Volume</h4>
                        </div>
                        <div vlass="row">
                            <h4 class="textdashboard">-2.011.023.511,00</h4>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row filter-panel" style="padding-top:0px;">
        <div class="card-body">
                <div class="row">
                    <h4 class="headerTable">Market Value</h4>
                </div>
                <div>
                    @(Html.DevExtreme().Chart()
                        .ID("market-value-chart")
                        .Palette(VizPalette.Material)
                        .CommonSeriesSettings(s => s
                        .ArgumentField("Day")
                        .Type(SeriesType.Spline)
                        )
                        .CommonAxisSettings(s => s
                        .Grid(g => g.Visible(true))
                        )
                        .Margin(m => m.Left(20))
                        .Series(s =>
                        {
                            s.Add().ValueField("MarketValue").Name("Market Value");

                        })
                        .Tooltip(t => t.Enabled(true))
                        .Legend(l => l
                        .VerticalAlignment(VerticalEdge.Top)
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        )
                        .ArgumentAxis(a => a
                        .Label(l => l.Format(Format.Decimal))
                        .AllowDecimals(false)
                        .AxisDivisionFactor(60)
                        )
                        .Export(e => e.Enabled(true))
                        .DataSource(new[] {
                new { Day = "1/7", MarketValue = 10_700_000_000_000 },
                new { Day = "2/7", MarketValue = 11_900_000_000_000 },
                new { Day = "3/7", MarketValue = 9_000_000_000_000 },
                new { Day = "4/7", MarketValue = 8_500_000_000_000 },
                new { Day = "5/7", MarketValue = 9_500_000_000_000 },
                new { Day = "6/7", MarketValue = 11_500_000_000_000 },
                new { Day = "7/7", MarketValue = 10_200_000_000_000 },
                new { Day = "8/7", MarketValue = 11_600_000_000_000 },
                new { Day = "9/7", MarketValue = 8_400_000_000_000 },
                new { Day = "10/7", MarketValue = 8_900_000_000_000 },
                new { Day = "11/7", MarketValue = 12_300_000_000_000 },
                new { Day = "12/7", MarketValue = 12_000_000_000_000 },
                new { Day = "13/7", MarketValue = 11_600_000_000_000 },
                new { Day = "14/7", MarketValue = 10_700_000_000_000 },
                new { Day = "15/7", MarketValue = 10_100_000_000_000 },
                new { Day = "16/7", MarketValue = 11_200_000_000_000 },
                new { Day = "17/7", MarketValue = 11_500_000_000_000 },
                new { Day = "18/7", MarketValue = 11_800_000_000_000 },
                new { Day = "19/7", MarketValue = 9_300_000_000_000 },
                new { Day = "20/7", MarketValue = 11_800_000_000_000 },
                new { Day = "21/7", MarketValue = 8_900_000_000_000 },
                new { Day = "22/7", MarketValue = 11_900_000_000_000 },
                new { Day = "23/7", MarketValue = 9_700_000_000_000 },
                new { Day = "24/7", MarketValue = 8_800_000_000_000 },
                new { Day = "25/7", MarketValue = 10_400_000_000_000 },
                new { Day = "26/7", MarketValue = 10_300_000_000_000 },
                new { Day = "27/7", MarketValue = 8_900_000_000_000 },
                new { Day = "28/7", MarketValue = 12_300_000_000_000 },
                new { Day = "29/7", MarketValue = 12_000_000_000_000 },
                new { Day = "30/7", MarketValue = 11_200_000_000_000 }
                    })
                        )
                </div>
            </div>
        </div>
    </div>
    @*grid*@
    <div class="row filter-panel" style="padding-top:0px;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 form-group" style="padding-right:25px;padding-left:25px">
                    <div class="row" style="padding-bottom:12.5px">
                        <a class="btn btn-dark font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();" title="Export Excel"><span class="image fa fa-file-excel"></span> Export Excel</a>
                        <a class="btn btn-success font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();" title="Export PDF"><span class="image fa fa-file-pdf"></span> Export PDF</a>
                    </div>
                    <div class="row">
                        <h4 class="headerTable">Investor Code</h4>
                    </div>
                    <div class="row">
                        @(Html.DevExtreme().DataGrid()
                            .ID("grid1")
                            .DataSource(new[] {
                    new { rowid = 1, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                    new { rowid = 2, investorcode = "CD5678", tradeid = "CD5678", value = 88000000000, volume = 195000 },
                    new { rowid = 3, investorcode = "EF9012", tradeid = "EF9012", value = 86000000000, volume = 190000 },
                    new { rowid = 4, investorcode = "GH3456", tradeid = "GH3456", value = 84000000000, volume = 185000 },
                    new { rowid = 5, investorcode = "IJ7890", tradeid = "IJ7890", value = 82000000000, volume = 180000 },
                    new { rowid = 6, investorcode = "KL2345", tradeid = "KL2345", value = 80000000000, volume = 175000 },
                    new { rowid = 7, investorcode = "MN6789", tradeid = "MN6789", value = 78000000000, volume = 170000 },
                    new { rowid = 8, investorcode = "OP1234", tradeid = "OP1234", value = 76000000000, volume = 165000 },
                    new { rowid = 9, investorcode = "QR5678", tradeid = "QR5678", value = 74000000000, volume = 160000 },
                    new { rowid = 10, investorcode = "ST9012", tradeid = "ST9012", value = 72000000000, volume = 155000 },
                    new { rowid = 11, investorcode = "UV3456", tradeid = "UV3456", value = 70000000000, volume = 150000 },
                    new { rowid = 12, investorcode = "WX7890", tradeid = "WX7890", value = 68000000000, volume = 145000 },
                    new { rowid = 13, investorcode = "YZ2345", tradeid = "YZ2345", value = 66000000000, volume = 140000 },
                    new { rowid = 14, investorcode = "AA6789", tradeid = "AA6789", value = 64000000000, volume = 135000 },
                    new { rowid = 15, investorcode = "BB1234", tradeid = "BB1234", value = 62000000000, volume = 130000 }
                    })
                            .KeyExpr("rowid")
                            .RemoteOperations(true)
                            .Width("100%")
                            .AllowColumnResizing(true)
                            .ColumnAutoWidth(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("rowid").Visible(false);
                                columns.Add().DataField("investorcode").Caption("Investor Code");
                                columns.Add().DataField("tradeid").Caption("Trade ID");
                                columns.Add().DataField("value").Caption("Value").Format("#,##0.##");
                                columns.Add().DataField("volume").Caption("Volume").Format("#,##0.##");
                              
                            })
                            .FilterRow(f => f.Visible(true))
                            .ShowBorders(true)
                            .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always))
                            .Paging(p =>
                            {
                                p.PageSize(10);
                                p.Enabled(true);
                            })
                            .Pager(p =>
                            {
                                p.ShowInfo(true);
                            }))
                    </div>
                </div>
                <div class="col-lg-6 form-group" style="padding-right:25px;padding-left:25px">
                    <div class="row" style="padding-bottom:12.5px">
                        <a class="btn btn-dark font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();" title="Export Excel"><span class="image fa fa-file-excel"></span> Export Excel</a>
                        <a class="btn btn-success font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();" title="Export PDF"><span class="image fa fa-file-pdf"></span> Export PDF</a>
                    </div>
                    <div class="row">
                        <h4 class="headerTable">Security Code </h4>
                    </div>
                    <div class="row">
                        @(
                        Html.DevExtreme().DataGrid()
                                .ID("grid2")
                                .DataSource(new[] {
                    new { rowid = 1, securitycode = "ABCD", value = 90000000000, volume = 200000, freq = 999999 },
                    new { rowid = 2, securitycode = "EFGH", value = 88000000000, volume = 195000, freq = 950000 },
                    new { rowid = 3, securitycode = "IJKL", value = 86000000000, volume = 190000, freq = 900000 },
                    new { rowid = 4, securitycode = "MNOP", value = 84000000000, volume = 185000, freq = 850000 },
                    new { rowid = 5, securitycode = "QRST", value = 82000000000, volume = 180000, freq = 800000 },
                    new { rowid = 6, securitycode = "UVWX", value = 80000000000, volume = 175000, freq = 750000 },
                    new { rowid = 7, securitycode = "YZAB", value = 78000000000, volume = 170000, freq = 700000 },
                    new { rowid = 8, securitycode = "CDEF", value = 76000000000, volume = 165000, freq = 650000 },
                    new { rowid = 9, securitycode = "GHJI", value = 74000000000, volume = 160000, freq = 600000 },
                    new { rowid = 10, securitycode = "KLMN", value = 72000000000, volume = 155000, freq = 550000 },
                    new { rowid = 11, securitycode = "OPQR", value = 70000000000, volume = 150000, freq = 500000 },
                    new { rowid = 12, securitycode = "STUV", value = 68000000000, volume = 145000, freq = 450000 },
                    new { rowid = 13, securitycode = "WXYZ", value = 66000000000, volume = 140000, freq = 400000 },
                    new { rowid = 14, securitycode = "ABEF", value = 64000000000, volume = 135000, freq = 350000 },
                    new { rowid = 15, securitycode = "CDGH", value = 62000000000, volume = 130000, freq = 300000 }
                    })
                                .KeyExpr("rowid")
                                .RemoteOperations(true)
                                .Width("100%")
                                .AllowColumnResizing(true)
                                .ColumnAutoWidth(true)
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("rowid").Visible(false); 
                                    columns.Add().DataField("securitycode").Caption("Security Code");
                                    columns.Add().DataField("value").Caption("Value").Format("#,##0.##"); 
                                    columns.Add().DataField("volume").Caption("Volume").Format("#,##0.##");
                                    columns.Add().DataField("freq").Caption("Frequency");

                            })
                            .FilterRow(f => f.Visible(true))
                            .ShowBorders(true)
                            .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always))
                            .Paging(p =>
                            {
                                p.PageSize(10);
                                p.Enabled(true);
                            })
                            .Pager(p =>
                            {
                                p.ShowInfo(true);
                            })
                    )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group" style="padding-right:25px;padding-left:25px">
                    <div class="row" style="padding-bottom:12.5px">
                        <a class="btn btn-dark font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();" title="Export Excel"><span class="image fa fa-file-excel"></span> Export Excel</a>
                        <a class="btn btn-success font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();" title="Export PDF"><span class="image fa fa-file-pdf"></span> Export PDF</a>
                    </div>
                    <div class="row">
                        <h4 class="headerTable">CP Investor Code</h4>
                    </div>
                    <div class="row">
                        @(Html.DevExtreme().DataGrid()
                            .ID("grid3")
                            .DataSource(new[] {
                    new { rowid = 1, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                    new { rowid = 2, investorcode = "CD5678", tradeid = "CD5678", value = 88000000000, volume = 195000 },
                    new { rowid = 3, investorcode = "EF9012", tradeid = "EF9012", value = 86000000000, volume = 190000 },
                    new { rowid = 4, investorcode = "GH3456", tradeid = "GH3456", value = 84000000000, volume = 185000 },
                    new { rowid = 5, investorcode = "IJ7890", tradeid = "IJ7890", value = 82000000000, volume = 180000 },
                    new { rowid = 6, investorcode = "KL2345", tradeid = "KL2345", value = 80000000000, volume = 175000 },
                    new { rowid = 7, investorcode = "MN6789", tradeid = "MN6789", value = 78000000000, volume = 170000 },
                    new { rowid = 8, investorcode = "OP1234", tradeid = "OP1234", value = 76000000000, volume = 165000 },
                    new { rowid = 9, investorcode = "QR5678", tradeid = "QR5678", value = 74000000000, volume = 160000 },
                    new { rowid = 10, investorcode = "ST9012", tradeid = "ST9012", value = 72000000000, volume = 155000 },
                    new { rowid = 11, investorcode = "UV3456", tradeid = "UV3456", value = 70000000000, volume = 150000 },
                    new { rowid = 12, investorcode = "WX7890", tradeid = "WX7890", value = 68000000000, volume = 145000 },
                    new { rowid = 13, investorcode = "YZ2345", tradeid = "YZ2345", value = 66000000000, volume = 140000 },
                    new { rowid = 14, investorcode = "AA6789", tradeid = "AA6789", value = 64000000000, volume = 135000 },
                    new { rowid = 15, investorcode = "BB1234", tradeid = "BB1234", value = 62000000000, volume = 130000 },
                     new { rowid = 16, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                      new { rowid = 17, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                       new { rowid = 18, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                        new { rowid = 19, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                    new { rowid = 20, investorcode = "AB1234", tradeid = "AB1234", value = 90000000000, volume = 200000 },
                    })

                            .KeyExpr("rowid")
                            .RemoteOperations(true)
                            .Width("100%")
                            .AllowColumnResizing(true)
                            .ColumnAutoWidth(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("rowid").Visible(false);
                                columns.Add().DataField("investorcode").Caption("CP Investor Code");
                                columns.Add().DataField("tradeid").Caption("CP Trade ID");
                                columns.Add().DataField("value").Caption("Value").Format("#,##0.##");
                                columns.Add().DataField("volume").Caption("Volume").Format("#,##0.##");
                            })
                            .FilterRow(f => f.Visible(true))
                            .ShowBorders(true)
                            .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always))
                            .Paging(p =>
                            {
                                p.PageSize(10);
                                p.Enabled(true);
                            })
                            .Pager(p =>
                            {
                                p.ShowInfo(true);
                            }))
                    </div>
                </div>
                <!-- disimpan  <div class="col-lg-6 form-group" style="padding-right:25px;padding-left:25px">
                    <div class="row" style="padding-bottom:12.5px">
                        <a class="btn btn-dark font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();" title="Export Excel"><span class="image fa fa-file-excel"></span> Export Excel</a>
                        <a class="btn btn-success font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf2();" title="Export PDF"><span class="image fa fa-file-pdf"></span> Export PDF</a>
                    </div>
                    <div class="row">
                        <h4 class="headerTable">Transaction</h4>
                    </div>
                    <div class="row">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
       


    <!-- The Modal  Detail-->
    <div class="modal fade" id="ModalSimpanPenggunaanData" tabindex="-1" role="document" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0066b2">
                    <h4 class="modal-title" style="text-align:left">
                        <font color="white">Pilih Penggunaan Data</font>
                    </h4>
                </div><!--Modal Header-->
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="StrukturFormDetail" method="POST" action="" class="form-horizontal row-border">
                        <div class="row" style="padding: 0 10px 0 10px;">
                            @(Html.DevExtreme().SelectBox()
                                .ID("penggunaandataid")
                                .DataSource(d => d.Mvc()
                                .Controller("PenggunaanData")
                                .Area("Website")
                                .LoadAction("GetPenggunaanData")
                                .Key("value"))
                                .ValueExpr("value")
                                .DisplayExpr("text")
                                .SearchEnabled(true)
                                .Width("100%")
                                )
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btnSavePenggunaanData" class="btn btn-primary" data-bs-dismiss="modal"><i class='fa fa-save'></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal  Detail-->
}



<script>
    window.jsPDF = window.jspdf.jsPDF;
    applyPlugin(window.jsPDF);
</script>

<script>
    function onPeriodChanged(e) {
        const selectedValue = e.value;
        const datepickdayDiv = document.getElementById("datepickday");
        const datepickmonthDiv = document.getElementById("datepickmonth");
        const asingDiv = document.getElementById("asingDiv");
        const starttimeDiv = document.getElementById("starttime")
        const endtimeDiv = document.getElementById("endtime")
        const startdateDiv = document.getElementById("startdate")
        const enddateDiv = document.getElementById("enddate")

        if (selectedValue === "Daily") {
            starttimeDiv.style.display = "block";
            endtimeDiv.style.display = "block";
            datepickdayDiv.style.display = "block";
            datepickmonthDiv.style.display = "none";
            startdateDiv.style.display = "none";
            enddateDiv.style.display = "none";

        } else if (selectedValue === "Monthly") {
            datepickmonthDiv.style.display = "block";
            starttimeDiv.style.display = "none";
            endtimeDiv.style.display = "none";
            datepickdayDiv.style.display = "none";
            startdateDiv.style.display = "none";
            enddateDiv.style.display = "none";
        } else {
            starttimeDiv.style.display = "none";
            endtimeDiv.style.display = "none";
            datepickdayDiv.style.display = "none";
            datepickmonthDiv.style.display = "none";
            startdateDiv.style.display = "block";
            enddateDiv.style.display = "block";
        }
    }

    $(document).ready(function () {
        // Hide the confirmation and asing divs initially
        document.getElementById("starttime").style.display = "none";
        document.getElementById("endtime").style.display = "none";
        document.getElementById("datepickday").style.display = "none";
        document.getElementById("datepickmonth").style.display = "none";
        document.getElementById("startdate").style.display = "none";
        document.getElementById("enddate").style.display = "none";
    });

    $(function () {
        const startDate = $("#PeriodeAwal").dxDateBox({
            onValueChanged: function (e) {
                endDate.option("min", e.value);
            }
        }).dxDateBox("instance");

        $("#PeriodeAwal").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Tanggal] harus dipilih" }]
        })
    });

    $(function () {
        $("#penggunaandataid").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Penggunaan Data] harus dipilih" }]
        })
    });

    $(function () {
        $("#namaPEid").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Nama PE] harus dipilih" }]
        })
    });

    $(window).on('load', function () {
        $("#ModalSimpanPenggunaanData").modal("show");
    });

    $("#btnSavePenggunaanData").click(function () {
        let penggunaandataid = $("#penggunaandataid").dxSelectBox("instance").option("value");

        if (penggunaandataid == null) {
            alert("Silahkan Pilih Tujuan Penggunaan Data");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("SimpanPenggunaanData", "SegmentationSummaryClusterMKBD")',
                data: { id: penggunaandataid },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    if (data.success == true) {
                        //alert(data.message);
    @* waitingDialog.hide(); *@
                            $('#ModalSimpanPenggunaanData').modal('hide');
                        return "Saving Success !";
                    }
                    else if (data.success == false) {
    @*  waitingDialog.hide(); *@
                            alert(data.message);
                        $('#ModalSimpanPenggunaanData').modal('hide');
                        return "Saving Failed !";
                    }
                }
            });
        }
    });

    function ExportToPdf() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExportIndex", "MaxMinOverdue")",
            success: function (response) {
                if (response.result == "Success") {
                    const doc = new jsPDF({
                        orientation: "landscape",
                        unit: "cm",
                        format: [21, 60]
                    });
                    var dataGrid = $("#grid1").dxDataGrid("instance");
                    var fileName = "MaxMinOverdue_" + new Date().toISOString().slice(0, 10) + ".pdf";
                    doc.setFontSize("6")
                    //var keys = $("#grid1").dxDataGrid("getSelectedRowsData")
                    //console.log(keys)
                    DevExpress.pdfExporter.exportDataGrid({
                        jsPDFDocument: doc,
                        component: dataGrid,
                        keepColumnWidths: true
                        //selectedRowsOnly: true
                    }).then(function () {
                        doc.save(fileName);
                    });
                }
            }
        });
    }

    function ExportToPdf2() {
        var dataGrid = $("#grid1").dxDataGrid("instance");
        dataGrid.option("onExporting", function (e) { });
        dataGrid.option("onFileSaving", function (e) {
            var fd = new FormData();
            fd.append("file", e.data);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportPDF", "SegmentationSummaryClusterMKBD")",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (data) {
                window.location = "@Url.Action("File", "SegmentationSummaryClusterMKBD")"
            });
            e.cancel = true;
        });

        dataGrid.exportToExcel();
    }

    function onSelectionChanged(e) {
        if (e.addedItems.length > 0) {
            e.component.field().val(""); // Clears the search text. However, search filter is only applied to the widget after focus is lost in the input element
        }
    }

    function onButtonFilterClicked(e) {
        const res = e.validationGroup.validate();
        if (res.status === "valid") {
            $("#grid1").dxDataGrid("instance").refresh();
        }
    }

    function onGridBeforeSend(method, ajaxOptions) {
        let namaPE = $("#namaPEid").dxSelectBox("instance").option("value");
        let tempPeriodeAwal = $("#PeriodeAwal").dxDateBox("instance").option("value");
        let status = $("#Statusid").dxTagBox("instance").option("value");

        let periodeAwal = null;
        if (tempPeriodeAwal != null) {
            periodeAwal = tempPeriodeAwal.getFullYear() + '-' + (tempPeriodeAwal.getMonth() + 1) + '-' + tempPeriodeAwal.getDate();
        }
        ajaxOptions.data.namaPE = JSON.stringify(namaPE);
        ajaxOptions.data.periodeAwal = periodeAwal;
        ajaxOptions.data.status = JSON.stringify(status);
    }

    function onLJKOpened(e) {
        e.component.content().find('.dx-list-select-all').hide();
    }

    function Detail(e) {
        var keys = e.row.key;
        if (typeof (keys) !== "undefined" && typeof (keys) !== null) {
            window.open('@Url.Action("Detail", "SegmentationSummaryClusterMKBD")?id=' + keys.toString());
        }
    }

    var waitingDialog = (function ($) {

        // Creating modal dialog's DOM
        var $dialog = $(
            '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
            '<div class="modal-dialog modal-m">' +
            '<div class="modal-content">' +
            '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
            '<div class="modal-body">' +
            '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
            '</div>' +
            '</div></div></div>');

        return {
            show: function (message, options) {
                // Assigning defaults
                var settings = $.extend({
                    dialogSize: 'm',
                    progressType: ''
                }, options);
                if (typeof message === 'undefined') {
                    message = 'Loading';
                }
                if (typeof options === 'undefined') {
                    options = {};
                }
                // Configuring dialog
                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                if (settings.progressType) {
                    $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                }
                $dialog.find('h3').text(message);
                // Opening dialog
                $dialog.modal();
            },
            /**
                * Closes dialog
                */
            hide: function () {
                $dialog.modal('hide');
            }
        }
    })(jQuery);
</script>

<style type="text/css">
    .mandatory {
        color: red;
    }

    .textdashboard {
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        font-size:2rem;
    } 
    .headerTable {
        box-sizing: border-box;
        background-color: #971c1d;
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 100%;
        color: #fdfdfd;
        text-align: center;
    }
</style>


