@using DevExtreme.AspNet.Mvc
@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
    string reportId = "SegmentasiTransaksiKepemilikan";
    var p = (string[])ViewBag.period;
    bool isHive = ViewBag.Hive;
    var maxItems = db.GetSetting("LimitFilterLJK");
    string lbl1 = " ";
}

@inject BDA.DataModel.DataEntities db


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-default">
        @*filter*@
        <div class="row filter-panel" style="padding-top:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label>Tanggal<span class="mandatory">*</span></label>
                        @(Html.DevExtreme().DateBox()
                            .ID("PeriodeAwal")
                            .DisplayFormat("MMM yyyy")
                            .Value(DateTime.Now)
                            .Max(DateTime.Now)
                            .CalendarOptions(c => c.MaxZoomLevel(CalendarZoomLevel.Year).MinZoomLevel(CalendarZoomLevel.Century))
                            .Width("100%"))
                    </div>

                    <div class="col-lg-4 form-group">
                        <label>Nama PE<span class="mandatory">*</span></label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("namaPEid")
                            .DataSource(d => d.Mvc()
                            .Controller("SegmentasiTransaksiKepemilikan")
                            .Area("BDAPM")
                            .LoadAction("GetNamaPE")
                            .Key("value"))
                            .ValueExpr("value")
                            .DisplayExpr("text")
                            .SearchEnabled(true)
                            .Width("100%")
                            )
                    </div>

                    <div class="col-lg-4 form-group">
                        <label>Jenis<span class="mandatory">*</span></label>
                        @(Html.DevExtreme().SelectBox()
                            .ID("JenisData")
                            .DataSource(d => d.Mvc()
                            .Controller("SegmentasiTransaksiKepemilikan")
                            .Area("BDAPM")
                            .LoadAction("GetJenisData")
                            .Key("value"))
                            .ValueExpr("value")
                            .DisplayExpr("text")
                            .SearchEnabled(true)
                            .Width("100%")
                            )
                    </div>
                </div>

                <div class="float-left">
                    @(Html.DevExtreme().Button()
                        .ID("Filter")
                        .Type(ButtonType.Default)
                        .Text("Tampilkan")
                        .OnClick("onButtonFilterClicked")
                        .ValidationGroup("Filter"))
                </div>

            </div>
        </div>
        @*grid*@
        <div class="row filter-panel" style="padding-top:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 form-group" style="padding-right:25px;padding-left:25px">
                        @(Html.DevExtreme().PieChart()
                            .ID("PieLiquidHC")
                            .Title("Liquid HC")
                            .Palette(VizPalette.Office)
                            .Type(PieChartType.Doughnut)
                            .Export(e => e.Enabled(true))
                            .Legend(l => l.Visible(true).VerticalAlignment(VerticalEdge.Bottom).HorizontalAlignment(HorizontalAlignment.Center))
                            .Series(s => s
                            .Add()
                            .ArgumentField("Type")
                            .ValueField("Val")
                            .Label(l => l.CustomizeText(@<text>
                                                        function (arg) {
                                                            return (arg.percent * 100).toFixed(2) + "%";
                                                        }
                                                        </text>).Visible(true).Connector(c => c.Visible(true))))
                            )
                    </div>
                    <div class="col-lg-4 form-group" style="padding-right:25px;padding-left:25px">
                        @(Html.DevExtreme().PieChart()
                            .ID("PieLiquidIM")
                            .Title("Liquid IM")
                            .Palette(VizPalette.Office)
                            .Type(PieChartType.Doughnut)
                            .Export(e => e.Enabled(true))
                            .Legend(l => l.Visible(true).VerticalAlignment(VerticalEdge.Bottom).HorizontalAlignment(HorizontalAlignment.Center))
                            .Series(s => s
                            .Add()
                            .ArgumentField("Type")
                            .ValueField("Val")
                            .Label(l => l.CustomizeText(@<text>
                                                        function (arg) {
                                                            return (arg.percent * 100).toFixed(2) + "%";
                                                        }
                                                        </text>).Visible(true).Connector(c => c.Visible(true))))
                            )
                    </div>
                    <div class="col-lg-4 form-group" style="padding-right:25px;padding-left:25px">
                        @(Html.DevExtreme().PieChart()
                            .ID("PieLiquidNK")
                            .Title("Liquid NK")
                            .Palette(VizPalette.Office)
                            .Type(PieChartType.Doughnut)
                            .Export(e => e.Enabled(true))
                            .Legend(l => l.Visible(true).VerticalAlignment(VerticalEdge.Bottom).HorizontalAlignment(HorizontalAlignment.Center))
                            .Series(s => s
                            .Add()
                            .ArgumentField("Type")
                            .ValueField("Val")
                            .Label(l => l.CustomizeText(@<text>
                                                        function (arg) {
                                                            return (arg.percent * 100).toFixed(2) + "%";
                                                        }
                                                        </text>).Visible(true).Connector(c => c.Visible(true))))
                            )
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="padding-right:25px;padding-left:25px">
                        <div class="row float-right" style="padding-bottom:12.5px">
                            <a class="btn btn-dark font-weight-bolder btn-sm mr-2" href="javascript:ExportToExcel();" title="Export Excel"><span class="image fa fa-file-excel"></span> Export Excel</a>
                            <a class="btn btn-success font-weight-bolder btn-sm mr-2" href="javascript:ExportToPdf();" title="Export PDF"><span class="image fa fa-file-pdf"></span> Export PDF</a>
                        </div>
                        <div class="row float-right">
                            @(Html.DevExtreme().DataGrid()
                                .ID("gridSegmentasiTransaksiKepemilikan")
                                .KeyExpr("ID")
                                .RemoteOperations(true)
                                .Width("100%")
                                .AllowColumnResizing(true)
                                .ColumnFixing(c => c.Enabled(true))
                                .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always))
                                .FilterRow(f => f.Visible(true))
                                .ShowBorders(true)
                                .Selection(c => c.Mode(SelectionMode.Single))
                                .Paging(p =>
                                {
                                    p.PageSize(15);
                                    p.Enabled(true);

                                })
                                .Pager(p =>
                                {
                                    p.Visible(true);
                                    p.ShowInfo(true);
                                })
                                .Columns(c =>
                                {
                                    c.Add().DataField("KodeEfek");
                                    c.Add().DataField("LiquidHC");
                                    c.Add().DataField("LiquidIM");
                                    c.Add().DataField("LiquidNK");
                                    c.Add().DataField("TotalVolume").Alignment(HorizontalAlignment.Right).CellTemplate("<%= thousandSeparatorDecimal(value)%>");
                                    c.Add().DataField("TotalValue").Alignment(HorizontalAlignment.Right).CellTemplate("<%= thousandSeparatorDecimal(value)%>");
                                    c.Add().DataField("TotalFreq").Alignment(HorizontalAlignment.Right).CellTemplate("<%= thousandSeparatorDecimal(value)%>");
                                })
                                .ShowRowLines(true)
                                )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- The Modal  Detail-->
<div class="modal fade" id="ModalSimpanPenggunaanData" tabindex="-1" role="document" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0066b2">
                <h4 class="modal-title" style="text-align:left">
                    <font color="white">Pilih Penggunaan Data</font>
                </h4>
            </div><!--Modal Header-->
            <!-- Modal body -->
            <div class="modal-body">
                <form id="StrukturFormDetail" method="POST" action="" class="form-horizontal row-border">
                    <div class="row" style="padding: 0 10px 0 10px;">
                        @(Html.DevExtreme().SelectBox()
                            .ID("penggunaandataid")
                            .DataSource(d => d.Mvc()
                            .Controller("PenggunaanData")
                            .Area("Website")
                            .LoadAction("GetPenggunaanData")
                            .Key("value"))
                            .ValueExpr("value")
                            .DisplayExpr("text")
                            .SearchEnabled(true)
                            .Width("100%")
                            )
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnSavePenggunaanData" class="btn btn-primary" data-bs-dismiss="modal"><i class='fa fa-save'></i> Save</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal  Detail-->
}

<script>
    window.jsPDF = window.jspdf.jsPDF;
    applyPlugin(window.jsPDF);
</script>

<script type="text/javascript">

    $(function () {
        $("#PeriodeAwal").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Tanggal] harus dipilih" }]
        })
    });

    $(function () {
        $("#penggunaandataid").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Penggunaan Data] harus dipilih" }]
        })
    });

    $(function () {
        $("#namaPEid").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Nama PE] harus dipilih" }]
        })
    });

    $(function () {
        $("#JenisData").dxValidator({
            validationGroup: "Filter",
            validationRules: [{ type: "required", message: "[Jenis Data] harus dipilih" }]
        })
    });

    $(window).on('load', function () {
        $("#ModalSimpanPenggunaanData").modal("show");
    });

    $("#btnSavePenggunaanData").click(function () {
        let penggunaandataid = $("#penggunaandataid").dxSelectBox("instance").option("value");

        if (penggunaandataid == null) {
            alert("Silahkan Pilih Tujuan Penggunaan Data");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("SimpanPenggunaanData", "SegmentationSummaryClusterMKBD")',
                data: { id: penggunaandataid },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    if (data.success == true) {
                        //alert(data.message);
    @* waitingDialog.hide(); *@
                            $('#ModalSimpanPenggunaanData').modal('hide');
                        return "Saving Success !";
                    }
                    else if (data.success == false) {
    @*  waitingDialog.hide(); *@
                            alert(data.message);
                        $('#ModalSimpanPenggunaanData').modal('hide');
                        return "Saving Failed !";
                    }
                }
            });
        }
    });

    function onSelectionChanged(e) {
        if (e.addedItems.length > 0) {
            e.component.field().val(""); // Clears the search text. However, search filter is only applied to the widget after focus is lost in the input element
        }
    }

    function onButtonFilterClicked(e) {
        const res = e.validationGroup.validate();
        if (res.status === "valid") {
            var tempPeriodeAwal = $("#PeriodeAwal").dxDateBox("instance").option("value");
            var namaPE = $("#namaPEid").dxSelectBox("instance").option("value");
            var periodeAwal = tempPeriodeAwal.getFullYear() + '-' + String(tempPeriodeAwal.getMonth() + 1).padStart(2, '0');
            var jt = $("#JenisData").dxSelectBox("instance").option("value");

            var chart1 = $("#PieLiquidHC").dxPieChart("instance");
            var ds1 = DevExpress.data.AspNet.createStore({
                loadMethod: "GET",
                loadMode: "processed",
                loadUrl: '@Url.Action("getPieliquidHC")?periode=' + periodeAwal + '&pe=' + namaPE + '&jenisTransaksi=' + jt
            });
            chart1.option('dataSource', ds1);

            var chart2 = $("#PieLiquidIM").dxPieChart("instance");
            var ds2 = DevExpress.data.AspNet.createStore({
                loadMethod: "GET",
                loadMode: "processed",
                loadUrl: '@Url.Action("getPieliquidIM")?periode=' + periodeAwal + '&pe=' + namaPE + '&jenisTransaksi=' + jt
            });
            chart2.option('dataSource', ds2);

            var chart3 = $("#PieLiquidNK").dxPieChart("instance");
            var ds3 = DevExpress.data.AspNet.createStore({
                loadMethod: "GET",
                loadMode: "processed",
                loadUrl: '@Url.Action("getPieliquidNK")?periode=' + periodeAwal + '&pe=' + namaPE + '&jenisTransaksi=' + jt
            });
            chart3.option('dataSource', ds3);

            var grid1 = $("#gridSegmentasiTransaksiKepemilikan").dxDataGrid("instance");
            var ds4 = DevExpress.data.AspNet.createStore({
                loadMethod: "GET",
                loadMode: "processed",
                loadUrl: '@Url.Action("getGridSegmentasiTransaksiKepemilikan")?periode=' + periodeAwal + '&pe=' + namaPE
            });
            grid1.option('dataSource', ds4);
        }
    }

    function getDateValue() {
        var tempPeriodeAwal = $("#PeriodeAwal").dxDateBox("instance").option("value");

        var periodeAwal = null;
        if (tempPeriodeAwal != null) {
            periodeAwal = tempPeriodeAwal.getFullYear() + '-' + (tempPeriodeAwal.getMonth() + 1);
        }

        return periodeAwal;
    }

    function thousandSeparatorDecimal(e) {
        if (e != null)
            return e.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 });
    }

    function ExportToExcel() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LogExportIndex", "SegmentasiTransaksiKepemilikan")",
            success: function (response) {
                if (response.result == "Success") {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet1 = workbook.addWorksheet('Main');

                    DevExpress.excelExporter.exportDataGrid({
                        component: $("#gridSegmentasiTransaksiKepemilikan").dxDataGrid("instance"),
                        worksheet: worksheet1,
                        customizeCell: function (options) {
                            var { gridCell, excelCell } = options;

                            if (gridCell.rowType === 'data') {
                                if (options.gridCell.column.dataType === 'number') {
                                    excelCell.numFmt = '#,##0';
                                }
                            }
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: "application/octet-stream" }), "SegmentasiTransaksiKepemilikan_" + new Date().toISOString().slice(0, 10) + ".xlsx");
                        });
                    });
                }
            }
        });
    }

    function ExportToPdf() {       
        var dataGrid = $("#gridSegmentasiTransaksiKepemilikan").dxDataGrid("instance");
        dataGrid.option("onExporting", function (e) { });
        dataGrid.option("onFileSaving", function (e) {
            var fd = new FormData();
            fd.append("file", e.data);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportPDF", "SegmentasiTransaksiKepemilikan")",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (data) {
                window.location = "@Url.Action("FileIndex", "SegmentasiTransaksiKepemilikan")"
            });
            e.cancel = true;
        });
        dataGrid.exportToExcel();
    }
</script>
<style>
    .headerTable {
        box-sizing: border-box;
        background-color: #971c1d;
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 100%;
        color: #fdfdfd;
        text-align: center;
    }
</style>
