@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using DevExtreme.AspNet.Mvc
@using (Html.BeginForm())
{
    var roleId = ViewBag.roleId;

    @Html.AntiForgeryToken()

   @*  @(Html.DevExtreme().TagBox()
        .ID("Status")
        .DataSource(new[] { "Pengawasan Transaksi Efek", "Pengawasan Perusahaan Efek", "Pengawasan Pengelolaan Investasi", "Pengawasan Emiten dan Perusahaan Publik", "Analisis Informasi dan PMK" })
        .ShowSelectionControls(false)
        .MaxDisplayedTags(3)
        .SearchEnabled(true)
        .OnSelectionChanged("onSelectionChanged")
        .Width("100%")) *@



        <!-- The Modal  Detail-->
        <div class="modal fade" id="ModalSimpanQueryDetail" tabindex="-1" role="document" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#0066b2">
                        @*<button type="button" class="close clear-validation" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        <h4 class="modal-title" style="text-align:left">
                            <font color="white">Detil Query</font>
                        </h4>
                    </div><!--Modal Header-->
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="StrukturFormDetail" method="POST" action="" class="form-horizontal row-border">
                            <div class="row" style="padding: 0 10px 0 10px;">
                            @(Html.DevExtreme().DataGrid()
                                .ID("grid")
                                .DataSource(d => d.Mvc()
                                .Controller("PenggunaanData")
                                .LoadAction("GetPenggunaanData")
                                .Key("id")
                                )
                                .RemoteOperations(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .ShowColumnLines(false)
                                .ShowRowLines(true)
                                .RowAlternationEnabled(true)
                                .ShowBorders(true)
                                .FocusedRowEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("Penggunaan_Data").Caption("Penggunaan Data");
                                })
                                .AllowColumnResizing(true)
                                .FocusedRowKey(roleId)
                                .WordWrapEnabled(true)
                                .OnFocusedRowChanged("onFocusedRowChanged")
                                )
                            @Html.DevExtreme().TextBox().ID("id").Name("id").Visible(false)
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    @Html.DevExtreme().Button().ID("btnSave").Text("select").StylingMode(ButtonStylingMode.Contained).Type(ButtonType.Success).UseSubmitBehavior(true)
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal  Detail-->

    
    <br />
    

    <script type="text/javascript">
        function onSelectionChanged(e) {
            if (e.addedItems.length > 0) {
                e.component.field().val(""); // Clears the search text. However, search filter is only applied to the widget after focus is lost in the input element
            }
        }
        function onFocusedRowChanged(e) {
            $("#id").dxTextBox("instance").option('value', e.row.data.id);
        }
    </script>

    <style type="text/css">
        .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > td:not(.dx-focused),
        .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > tr > td:not(.dx-focused),
        .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) .dx-command-edit .dx-link {
            background-color: red !important;
            color: #fff;
        }
    </style>

}

