@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    function Edit() {
        var keys = $("#grid1").dxDataGrid("getSelectedRowKeys");
        if (keys.length >= 1) {
            window.location = "@Url.Action("Edit","Master_Propinsi")/" + keys[0].toString();
        } else {
            swal({type: 'error', title: 'Oops...', text: 'Silahkan Pilih Baris Telebih Dahulu'});
        }
    }
    function Delete() {
        var keys = $("#grid1").dxDataGrid("getSelectedRowKeys");
        if (keys.length >= 1) {
            var ask = confirm('Apakah Anda yakin akan menghapus data ini ?');

            if (ask) {
                $.ajax({
					type: "POST",
					url: "@Url.Action("Delete","Master_Propinsi")",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json",
                    data: "param1=" + keys[0].toString(),
                    success: function (response) {
                        alert(response);
                        $("#grid1").dxDataGrid("refresh");
                    },
                    error: function (response) {
                        swal({type: 'error', title: 'Oops...', text: response.responseJSON.error});
                    }
				});
            }
        } else {
            swal({type: 'error', title: 'Oops...', text: 'Silahkan Pilih Baris Telebih Dahulu'});
        }
    }
</script>


<div class="card card-default">
    <div class="card-header">
        <script>document.write(pageTitle);</script>
        <div class="pull-right">
            @if (ViewBag.Admin == true)
            {
                <nav class="dxbs-menu clearfix" style="display: block" ;>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Master_Propinsi")"><span class="image fa fa-plus"></span> Tambah</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Edit();"><span class="image fa fa-edit"></span> Ubah</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Delete();"><span class="image fa fa-times"></span> Hapus</a></li>
                    </ul>
                </nav>
            }
            @if (ViewBag.Admin == false)
            {
                <nav class="dxbs-menu clearfix" style="display: none" ;>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Master_Propinsi")"><span class="image fa fa-plus"></span> Tambah</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Edit();"><span class="image fa fa-edit"></span> Ubah</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:Delete();"><span class="image fa fa-times"></span> Hapus</a></li>
                    </ul>
                </nav>
            }

        </div>
    </div>
    <div class="gridview-div">
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().DataGrid<BDA.DataModel.MasterPropinsi>()
            .ID("grid1")
            .DataSource(d => d.Mvc()
                .Controller("Master_Propinsi")
                .LoadAction("GetGridData")
                //.InsertAction("InsertObject")
                //.UpdateAction("UpdateObject")
                //.DeleteAction("DeleteObject")
                .Key("RefPropinsiId")

            )
            .RemoteOperations(true)
            .Width("100%")
            .Columns(columns =>
            {
                columns.AddFor(m => m.RefPropinsiKode).Caption("Sandi").Width("30%");
                columns.AddFor(m => m.RefPropinsiNama).Caption("Nama Provinsi").Width("70%");
                columns.AddFor(m => m.RefPropinsiId).Visible(false);

            })
            .FilterRow(f => f.Visible(true))
            .ShowBorders(false)
            .Selection(c => c.Mode(SelectionMode.Single))
            .RowAlternationEnabled(false)
            .Paging(p =>
            {
                p.PageSize(20);
                p.Enabled(true);
            }
            )
             .Pager(p =>
                {
                p.ShowInfo(true);
                }
             )
        )

    </div>
</div>
